<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="error-log-file" xsi:type="File" fileName="error-log.txt" />
    <target name="console" xsi:type="Console" />
    <target name="warning-log-file" xsi:type="File" fileName="warning-log.txt" />
  </targets>

  <rules>
    <logger name="DeployPackages" level="Trace" writeTo="console" />
    <logger name="DeployPackages" level="Error" writeTo="console" />
    <logger name="*" level="Info" writeTo="console" />
    <logger name="*" level="Error" writeTo="error-log-file" />
    <logger name="*" level="Warn" writeTo="warning-log-file" />
  </rules>
</nlog>